.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.Navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .Navbar a {
    float: left;
    padding: 12px;
    color: white;
    font-size: 17px;
  }
  
  .Navbar a:hover {
    background-color: #74dd77;
  }
  
  .active {
    background-color: #4CAF50;
  }
  .my-active{
      background-color: #4ee453 !important;
  }
  @media screen and (max-width: 500px) {
    .Navbar a {
      float: none;
      display: block;
    }
  }
  